@tailwind base;
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  min-width: 320px;
  background-color: #FAFDFD;
  color: #222222;

  &.menu-shown {
    overflow: hidden;
  }
}

.container {
  @apply w-[90vw] max-w-[1150px] mx-auto;
}

.navlink {
  @apply flex justify-center border-b-[#D3D3D3] border-b-[1px] leading-6 text-center md:border-b-0 md:px-3 md:py-2 transition-all duration-300 hover:text-brand;

  &.active {
    font-weight: 600;
  }
}

.title {
  @apply text-[25px] font-semibold leading-[1.2];
}

.button {
  @apply flex items-center justify-center border border-white text-brand bg-white rounded-full min-h-8 leading-none px-3 transition-all duration-300 hover:bg-transparent hover:text-white md:min-h-10 md:px-5;
}

.button-brand {
  @apply flex items-center py-1 px-5 rounded-[10px] bg-brand text-white transition-all duration-300 text-[15px] min-h-10 leading-none border border-brand hover:bg-white hover:text-brand;
}

.button-brand:disabled {
  opacity: 60%;
  pointer-events: none;
}

.banners {
  .swiper-pagination {
    @apply absolute bottom-6 left-0 flex justify-center items-center gap-[5px] md:gap-[10px];
  }

  .swiper-pagination-bullet {
    @apply flex min-w-[10px] max-w-[10px] min-h-[10px] max-h-[10px] rounded-full !mx-0 border opacity-100 border-white bg-transparent cursor-pointer;

  }

  .swiper-pagination-bullet-active {
    @apply bg-white;
  }
}

.programs-swiper {
  .swiper-pagination {
    @apply relative top-0 left-0 flex w-full justify-center items-center gap-[5px] md:gap-[10px];
  }

  .swiper-pagination-bullet {
    @apply flex min-w-[10px] max-w-[10px] min-h-[10px] max-h-[10px] rounded-full !mx-0 !p-0 border opacity-100 border-brand bg-transparent cursor-pointer;

  }

  .swiper-pagination-bullet-active {
    @apply bg-brand;
  }
}

.articles-swiper {
  .swiper-pagination-bullet {
    @apply flex min-w-[10px] max-w-[10px] min-h-[10px] max-h-[10px] rounded-full !m-0 border opacity-100 border-brand bg-transparent cursor-pointer;

  }

  .swiper-pagination-bullet-active {
    @apply bg-brand;
  }
}

.iti__country-container {
  @apply relative !p-0;
}

.iti__selected-country-primary {
  @apply !p-0;
}

.iti__selected-country-primary {
  @apply !bg-transparent;
}

.iti__flag {
  @apply !shadow-none transform scale-[1.4] translate-x-1 !rounded-none;
}

.iti__arrow {
  @apply !m-0 absolute left-[calc(100%+4px)];
}

.iti__selected-dial-code {
  @apply !ml-3 leading-none mt-[1px];
}

.iti__dropdown-content {
  @apply min-w-[268px] sm:min-w-max;
}


@media (min-width: 1024px) {
  .about-vitrin {
    background-image:
    linear-gradient(to right, #00A596 0 60%, transparent),
      url("/images/farna-office.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
  }
}


.programs-list {
  @apply gap-2;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

.plate {
  p {
    @apply mb-4;
  }
}
